html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 2000px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2100px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 2200px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2300px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 2600px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 2700px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 2800px) {
  html {
    font-size: 26px;
  }
}

@media (min-width: 2900px) {
  html {
    font-size: 27px;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 3100px) {
  html {
    font-size: 29px;
  }
}

@media (min-width: 3200px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 3300px) {
  html {
    font-size: 31px;
  }
}

@media (min-width: 3400px) {
  html {
    font-size: 32px;
  }
}

@media (min-width: 3500px) {
  html {
    font-size: 33px;
  }
}

@media (min-width: 3600px) {
  html {
    font-size: 34px;
  }
}

@media (min-width: 3700px) {
  html {
    font-size: 35px;
  }
}

@media (min-width: 3800px) {
  html {
    font-size: 36px;
  }
}

body {
  font-family: "Atyp Text", sans-serif;
  font-weight: 400;
  background-image: url(../images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1663px;
  margin: 0 auto;
}

.title-text {
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0.03em;
}
/* media nav */
.close-btn,
.open-menu {
  display: none;
}

.ml {
  margin-left: 112px;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgba(0, 2, 17, 0) 5.03%,
    #000211 14.4%,
    #000211 85.23%,
    rgba(0, 0, 0, 0) 94.87%,
    rgba(0, 2, 17, 0) 94.87%
  );
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header .nav-list {
  display: flex;
}

.header .nav-item {
  position: relative;
}

.header .nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 20px;
  background: rgb(0, 159, 227);
}

.header .nav-item:last-child::before {
  display: none;
}

.header .nav-item .nav-link {
  position: relative;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  transition: text-shadow 0.2s linear;
  margin-right: 4px;
}

.header .nav-link:hover {
  text-shadow: 0 0 3px #dcdcdc;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-right: 111px;
}

.header-right .price-list__btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid rgb(35, 122, 226);
  border-radius: 20px;
  transition: all 0.2s linear;
  position: relative;
  overflow: hidden;
}
.header-right .price-list__btn:hover {
  background-color: rgb(35, 122, 226);
}
.header-right .price-list__btn:hover::before {
  left: 0;
}
/* hero section */
.hero-section {
  background-image: url(../images/home-bg.svg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: 0 -15px;
  padding: 189px 0 278px 0;
  position: relative;
  z-index: 1;
}

.hero-section .hero-logo {
  width: 909px;
  height: 188px;
}
.hero-section .hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #002a5b 0.98%, rgba(0, 42, 91, 0) 100%);
  z-index: -1;
}
.hero-section .hero-content {
  position: relative;
  padding: 41px 0 46px 0;
  color: #fff;
  z-index: 1;
  width: 70%;
  margin-top: 110px;
}

.hero-section .hero-content__title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 46px;
  text-shadow: 0 0 5px #dcdcdc;
}

.hero-section .hero-content__info {
  max-width: 763px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-shadow: 0 0 2px #dcdcdc;
  margin-top: 10px;
}

.hero-section .hero-content .hero-content__info:last-child {
  margin-top: 35px;
}
.bg-section {
  position: relative;
}
/* characteristics-section */
.characteristics-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1559px;
  background-image: url(../images/right-ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  z-index: -1;
}
.characteristics-section {
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}

.characteristics-section .characteristics-boxes {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 296px;
  position: relative;
  z-index: 10;
}

.characteristics-section .characteristics-box {
  display: flex;
  align-items: center;
  gap: 32px;
}

.characteristics-section .characteristics-box:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 159, 227, 0.5),
    rgba(0, 159, 227, 0) 57.404%
  );
}

.characteristics-section .characteristics-icon__box {
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid #ffffff1a;
  height: 150px;
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.characteristics-section .characteristics-box:hover .characteristics-icon__box {
  box-shadow: 0px 0px 32px 0px rgba(0, 159, 227, 0.5);
  background: linear-gradient(
    135deg,
    rgba(0, 159, 227, 0.25) 0%,
    rgba(0, 159, 227, 0) 100%
  );
}

.characteristics-section .characteristics-box__info p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  max-width: 328px;
}

/* products-section */
.products-section::before {
  content: "";
  position: absolute;
  top: 13%;
  left: -10%;
  width: 100%;
  height: 1395px;
  background-image: url(../images/left-ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.products-section::after {
  content: "";
  position: absolute;
  top: 13%;
  opacity: 20%;
  right: -48%;
  width: 100%;
  height: 1559px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(39, 116, 187, 0.8) 0%,
    rgba(11, 66, 133, 0) 100%
  );

  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.products-section {
  position: relative;
  z-index: 1;
}
.products-section .container {
  padding: 0 112px 120px 112px;
}
.products-section .title-text {
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}
.products-section .tab-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
  max-width: 408px;
  width: 100%;
}
.products-section .tab-item.active {
  background: linear-gradient(
    90deg,
    rgba(0, 159, 227, 0.5) 0%,
    rgba(0, 159, 227, 0) 93.94%
  );
}

.products-section .tab-item {
  background: linear-gradient(
    90deg,
    rgba(0, 159, 227, 0.5) 0%,
    rgba(0, 159, 227, 0) 57.4%
  );
  max-width: 396px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.products-section .tab-item img {
  width: 120px;
  height: 100px;
}
.products-section .tab-item p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
}
.products-section .line {
  width: 97%;
  border-bottom: 2px solid #004f9f;
  margin: 30px auto;
}
.products-section .tab-content {
  color: #fff;
  display: flex;
  align-items: start;
  gap: 40px;
  padding-bottom: 30px;
}
.products-section .tab-content.first {
  padding-bottom: 103px;
}
.products-section .tab-content__info {
  padding-top: 20px;
  animation: fade 0.3s linear;
}
.products-section .tab-content .flex-box {
  display: flex;
  gap: 10px;
  margin: 10px 0 20px 0;
}
.products-section .tab-content .flex-box a {
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  transition: all 0.2s linear;
}
.products-section .tab-content .flex-box a:hover {
  color: #002a5b;
  background-color: #fff;
}
.products-section .tab-content .flex-box a:hover > svg path {
  fill: #002a5b;
}
.products-section .tab-content__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.03em;
}
.products-section .tab-content__img-box {
  display: flex;
  align-items: start;
  gap: 20px;
}
.products-section .tab-content__img {
  z-index: 1;
  position: relative;
  width: 477px;
  height: 415px;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-image: url(../images/card-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.products-section .tab-content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-section .tab-content__img-box-info p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  max-width: 485px;
}
.products-section .tab-content__img-box-info p:last-child {
  margin-bottom: 0;
}
.products-section .tab-content__img-box-info p > span {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.03em;
  display: block;
}
.products-section .tab-content__img-box-info p > span.inline {
  display: inline;
}
.products-section .tab-header__items {
  display: flex;
  align-items: center;
}
.products-section .tab-header__items .tab-header__item {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #004f9f;
  cursor: pointer;
}
.products-section .tab-header__items .tab-header__item.active {
  border-color: #fff;
  background: linear-gradient(
    360deg,
    rgba(0, 159, 227, 0.5) 0%,
    rgba(0, 159, 227, 0) 100%
  );
}
.products-section .tab-content__two {
  animation: fade 0.3s linear;
}
.products-section .tab-content__two h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin: 10px 0;
}
/* sea box */
.sea-box .sea-img {
  position: relative;
  margin: 100px 78px;
  z-index: 1;
}
.sea-box .sea-img:hover::before {
  opacity: 1;
}
.sea-box .sea-img::before {
  content: "";
  position: absolute;
  bottom: 23px;
  transition: opacity 0.2s linear;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(../images/sea-img-shadow.svg);
  background-size: 100% 106%;
  background-position: 0 -44px;
  background-repeat: no-repeat;
  z-index: -1;
}
.sea-box .sea-img::after {
  content: "";
  position: absolute;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #002850 0%,
    rgba(0, 40, 80, 0) 100%
  );
  width: 130%;
  height: 328px;
  bottom: -30%;
  left: -21%;
  right: 0;
  z-index: -1;
}
.sea-box .sea-img > img {
  width: 100%;
}
.sea-box .sea-number__box {
  position: absolute;
}
.sea-box .sea-number__one {
  bottom: 27%;
  left: 8%;
}

.sea-box .sea-number__two {
  bottom: 7%;
  left: 30.5%;
}
.sea-box .sea-number__three {
  top: 6%;
  right: 25%;
}
.sea-box .sea-number__four {
  bottom: 7%;
  right: 19%;
}

.sea-box .relative-box {
  position: relative;
  text-align: center;
}
.sea-box .sea-number__info {
  box-shadow: 0px 0px 32px 0px #009fe380;
  background: radial-gradient(
    95.52% 100% at 50% 100%,
    #07a8e6 0%,
    rgba(3, 163, 228, 0.74) 53%,
    rgba(0, 159, 227, 0.15) 100%
  );
  color: #fff;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  border-radius: 50%;
  border: 0.5px solid #2789bb;
  /* border-image-source: linear-gradient(
    180deg,
    rgba(60, 196, 255, 0) 0%,
    rgba(36, 202, 255, 0.840708) 100%
  );
  border-image-slice: 1;
  border-width: 0.5px;
  border-style: solid; */
}
.sea-box .sea-number__box:hover .sea-number__info-text p {
  transform: translateX(0);
}
.sea-box .sea-number__box:hover .sea-number__info-text {
  opacity: 1;
  visibility: visible;
}
.sea-box .sea-number__info > p {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.03em;
}
.sea-number__info-text {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  position: absolute;
  top: 50%;
  left: 32px;
  overflow: hidden;
  transform: translateY(-50%);
  padding: 12px 43px 14px 41px;
  z-index: 1;
}
.sea-number__info-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 100%;
  background-image: url(../images/subtract-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sea-number__info-text p {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.03em;
  transform: translateX(-100%);
  transition: all 0.2s linear;
  white-space: nowrap;
}

/* services-section */
.services-section {
  background: linear-gradient(90deg, #1b67c1 0.98%, rgba(0, 42, 91, 0) 100%);
  padding: 3.75rem 0;
  color: #fff;
  position: relative;
  z-index: 10;
}

.services-section .services__list-boxes {
  display: flex;
  align-items: start;
  gap: 1.875rem;
  justify-content: space-between;
  margin: 1.875rem 0 2.625rem 0;
  padding-left: 0.625rem;
}

.services-section .services__list-boxes .list {
  padding-left: 25px;
}
.services-section .services__list-boxes .list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -21px;
  background: #fff;
  border-radius: 5px;
  width: 5px;
  height: 5px;
}
.services-section .services-box {
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  flex-wrap: wrap;
  max-width: 77%;
}

.services-section .line {
  border: 0.0625rem solid rgb(255, 255, 255);
  margin: 1.75rem 0 2rem 0;
}

.services-section .services-box.two a {
  font-size: 1.25rem;
  line-height: 100%;
  padding: 10px 20px;
}

.services-section .services-box a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  box-sizing: border-box;
  border: 0.0625rem solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 0.9375rem 1.5625rem;
  font-weight: 700;
  line-height: 100%;
  width: fit-content;
  transition: all 0.2s linear;
}

.services-section .services-box a:hover {
  color: #002a5b;
  background-color: #fff;
}

.services-section .services-box a:hover svg path {
  fill: #002a5b;
}
.services-section .title-text__sm {
  margin-bottom: 1.875rem;
  font-size: 48px;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: 0px 0px 12px #dcdcdc73;
}
.services-section .list-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.services-section .services__list-boxes .list li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
  position: relative;
}

/* news-section */
.news-section {
  padding: 56px 0 264px 0;
  background: radial-gradient(
    57% 34% at 50% 36%,
    #002850 0%,
    rgba(0, 40, 80, 0) 100%
  );
}
.news-section .title,
.contact-section .title {
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0em;
  color: #fff;
  text-shadow: 0px 0px 12px #dcdcdc73;
}
.news-section .swiper-slide__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 112px 0 242px;
  margin-top: 30px;
}
.news-section .swiper-slide__box > img {
  width: 530px;
  height: 400px;
}
.news-section .swiper-slide__info {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
  max-width: 530px;
}

/* contact section */
.contact-section {
  padding: 0 0 9.75rem 0;
  font-family: "Montserrat", sans-serif;
}

.contact-section .title-text {
  margin-bottom: 1.6875rem;
}

.contact-section .contact-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.contact-section .contact-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5.3125rem;
  max-width: 45%;
  width: 100%;
}

.contact-section .contact__content-box span,
.contact-section .contact__content-box a {
  display: block;
}

.contact-section .contact__content-box p,
.contact-section .contact__content-box span,
.contact-section .contact__content-box a {
  color: rgb(255, 255, 255);
  line-height: normal;
}

.contact-section .contact__content-box p,
.contact-section .contact__content-box a {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 4px;
}
.contact-section .contact__content-box .sms-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #002a5b;
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 40px;
  border: 1px solid #fff;
  transition: all 0.2s linear;
  margin-top: 27px;
}
.contact-section .contact__content-box .sms-btn:hover {
  color: #fff;
  background-color: transparent;
}
.contact-section .contact-map {
  max-width: 846px;
  height: 400px;
  width: 100%;
}
.contact-section .contact-map iframe {
  border-radius: 1.875rem;
  border: none;
  width: 100%;
}

/* swiper */
.swiper {
  padding-bottom: 48px;
}
.swiper-pagination .swiper-pagination-bullet {
  background: #002a5b;
  width: 8px;
  height: 8px;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  color: #73a2da;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media query */
@media screen and (max-width: 1700px) {
  .container {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
  .characteristics-section .characteristics-boxes {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1550px) {
  .ml {
    margin-left: 0;
  }
  .header-right {
    padding-right: 0;
  }
  .news-section .swiper-slide__box {
    padding: 0 42px;
  }
}

@media screen and (max-width: 1330px) {
  .header .logo img {
    width: 120px;
    height: 25px;
  }
  .header-right img {
    width: 66px;
    height: 50px;
    margin-bottom: 20px;
  }
  .header-right {
    gap: 20px;
  }
  .header-right .price-list__btn {
    padding: 10px;
    font-size: 11px;
    line-height: 15px;
  }
  .header .nav-item .nav-link {
    font-size: 10px;
    line-height: 14px;
    padding: 5px 3px;
  }
  .header .nav-item::before {
    height: 15px;
  }
  .sea-box .sea-img::before {
    bottom: 2%;
  }
  .news-section .swiper-slide__box > img {
    width: 380px;
    height: 200px;
  }
}
@media screen and (max-width: 1180px) {
  .characteristics-section .characteristics-icon__box {
    width: 80px;
    height: 80px;
    padding: 9px 7px;
    border-radius: 10px;
  }
  .characteristics-section
    .characteristics-boxes
    .characteristics-box:nth-child(2)
    .characteristics-icon__box {
    padding: 12px 15px;
  }
  .characteristics-section
    .characteristics-boxes
    .characteristics-box:nth-child(3)
    .characteristics-icon__box {
    padding: 14px 13px;
  }
  .characteristics-section
    .characteristics-boxes
    .characteristics-box:nth-child(4)
    .characteristics-icon__box {
    padding: 18px 13px 18px 16px;
  }
  .characteristics-section .characteristics-box:hover {
    border-radius: 10px;
  }
  .characteristics-section .characteristics-box__info p {
    font-size: 11px;
    line-height: 15px;
    max-width: 214px;
  }
  .characteristics-section .characteristics-icon__box img {
    width: 100%;
  }
  .characteristics-section .characteristics-boxes {
    padding: 0 0 80px 0;
  }
  .hero-section {
    padding: 115px 0 120px 0;
  }
  .sea-box .sea-number__info {
    width: 35px;
    height: 35px;
  }
  .sea-box .sea-number__info > p {
    font-size: 24px;
    line-height: 34px;
  }
  .sea-box .relative-box > img {
    width: 29px;
    height: 62px;
    margin-bottom: -5px;
  }
  .sea-number__info-text p {
    font-size: 13px;
    line-height: 14px;
  }
  .sea-number__info-text {
    padding: 4px 20px 4px 22px;
    top: 50%;
    left: 16px;
  }
  .sea-number__info-text::before {
    width: 140px;
    height: 98%;
  }
}
@media screen and (max-width: 1050px) {
  .hero-section .hero-logo {
    width: 483px;
    height: 100px;
  }
  .hero-section {
    padding-top: 115px;
    background-image: url(../images/960-bg.svg);
    background-size: 103% 103%;
    background-position: -27px -45px;
  }
  .hero-section .hero-content .hero-content__info:last-child {
    margin-top: 28px;
  }
  .hero-section .hero-content {
    margin-top: 48px;
    padding: 20px 0;
    width: 90%;
  }
  .hero-section .hero-content p {
    width: 50%;
    margin-top: 5px;
  }
}
.sea-box .sea-number__info .media-block {
  display: none;
}
@media screen and (max-width: 960px) {
  .header {
    background: #000211;
  }
  .hero-section .hero-content__title {
    font-size: 24px;
    line-height: 35px;
  }
  .hero-section .hero-content__info {
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 0 1.5px #dcdcdc;
  }
  .sea-box .sea-img::before {
    bottom: -5%;
    opacity: 1;
  }
  .sea-number__info-text {
    opacity: 1;
    visibility: visible;
  }
  .sea-number__info-text p {
    transform: translateX(0);
  }
  .sea-box .sea-number__one {
    left: 4%;
  }
  .sea-box .sea-number__three {
    top: 9%;
    right: 32%;
  }
  .characteristics-section .characteristics-boxes {
    padding-bottom: 40px;
  }
  .sea-box .sea-img::after {
    height: 110px;
    width: 148%;
    bottom: -24%;
  }
  .characteristics-section::before {
    width: 529px;
    height: 529px;
    right: 0;
    left: auto;
    top: 25%;
  }
  .products-section::before {
    width: 919px;
    height: 919px;
  }
  .sea-number__info-text {
    top: 50%;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sea-box .sea-img {
    margin: 30px 70px 30px 64px;
  }
  .sea-box .sea-number__info .media-hide {
    display: none;
  }
  .sea-box .sea-number__info .media-block {
    display: block;
  }
  .products-section .title-text {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
  }
  .products-section .tab-content {
    flex-direction: column;
  }
  .products-section .tab-items {
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
  }
  .products-section .tab-item.active {
    background: linear-gradient(180deg, #009fe3 0%, rgba(0, 159, 227, 0) 100%);
  }
  .products-section .tab-item {
    border-radius: 10px;
    gap: 5px;
    background: linear-gradient(
      180deg,
      rgba(0, 159, 227, 0.2) 0%,
      rgba(0, 159, 227, 0) 100%
    );
  }
  .products-section .tab-item img {
    width: 51px;
    height: 42px;
  }
  .products-section .tab-item p {
    font-size: 10px;
    line-height: 14px;
  }
  .products-section .tab-content {
    gap: 15px;
    margin: 0 50px;
  }
  .products-section .title-text {
    margin-left: 50px;
  }
  .products-section .tab-content__title {
    font-size: 20px;
    line-height: 24px;
  }
  .products-section .tab-content .flex-box {
    margin: 10px 0;
  }
  .products-section .tab-content__img {
    max-width: 300px;
    width: 100%;
    height: 400px;
  }
  .products-section .tab-content__img img {
    object-fit: contain;
  }
  .products-section .tab-content.first {
    padding-bottom: 0;
  }
  .products-section .line {
    width: 100%;
    margin: 24px 0 10px 0;
  }
  .products-section .tab-content .flex-box a {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .products-section .tab-content .flex-box a svg {
    width: 20px;
    height: 24px;
  }
  .products-section .tab-content__img-box-info p {
    font-size: 16px;
    line-height: 23px;
  }
  .products-section .tab-content__img-box-info p > span {
    line-height: 19px;
  }
  .products-section .container {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .products-section .container::before {
    content: "";
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(6, 106, 149, 0.8) 0%,
      rgba(11, 66, 133, 0) 100%
    );
    width: 1019px;
    height: 1019px;
    bottom: -438px;
    left: -383px;
    z-index: -1;
  }
  .services-section .title-text__sm {
    font-size: 48px;
    line-height: 69px;
  }
  .services-section .list-title {
    margin-bottom: 15px;
  }
  .services__list-box {
    width: 50%;
  }
  .services-section .services-box a {
    font-size: 20px;
    line-height: 20px;
  }
  .services-section .services-box {
    flex-direction: column;
  }
  .swiper {
    padding-bottom: 65px;
  }
  .news-section {
    background-image: radial-gradient(
      57% 34% at 60% 50%,
      #002850 0%,
      rgba(0, 40, 80, 0) 100%
    );
  }
  .news-section .swiper-slide__box {
    gap: 20px;
  }
  .news-section .swiper-slide__info {
    max-width: 380px;
  }
  .news-section .title,
  .contact-section .title {
    font-size: 48px;
    line-height: 48px;
  }
  .news-section {
    padding: 30px 0 40px 0;
  }
  .contact-section .contact-boxes {
    flex-direction: column;
    gap: 30px;
  }
  .contact-section .contact-content {
    max-width: 100%;
    order: 1;
  }
  .contact-section .contact__content-box p,
  .contact-section .contact__content-box a {
    line-height: 24px;
  }
  .products-section .tab-items {
    min-width: 543px;
    overflow: scroll;
  }
  .products-section .tab-items::-webkit-scrollbar {
    height: 0;
  }
  .contact-section .title {
    margin-bottom: 60px;
  }
  .products-section .tab-content__two h5 {
    font-size: 20px;
    line-height: 24px;
  }
  .products-section .tab-header__items .tab-header__item {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 930px) {
  .header .nav ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .products-section .title-text {
    margin-left: 0;
  }
  .products-section .tab-content.first {
    margin: 0;
  }
  .products-section .tab-content__img-box {
    flex-direction: column;
  }
  .products-section .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .products-section .tab-content {
    margin: 0;
  }
  .sea-box .sea-img {
    margin: 30px 0 30px 0;
  }
  .products-section .tab-content__img {
    max-width: 100%;
  }
  .news-section .swiper-slide__box {
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
  .news-section .swiper-slide__info {
    max-width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .news-section .swiper-slide__box > img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .hero-section .hero-content {
    margin-top: 385px;
    padding: 33px 30px;
  }
  .hero-section .hero-content::before {
    background: linear-gradient(0, #002a5b 0.98%, rgba(0, 42, 91, 0) 100%);
    width: 150%;
    left: -20px;
    right: -20px;
  }
  .hero-section .hero-content p {
    width: 100%;
  }
  .hero-section {
    background-size: 140% 120%;
    background-position: -200px -230px;
  }
}

@media screen and (max-width: 480px) {
  .hero-section .hero-logo {
    width: 264px;
    height: 55px;
  }
  .hero-section {
    padding-top: 95px;
    padding-bottom: 80px;
    background-position: -294px -240px;
    background-size: 198% 112%;
  }
  .header .logo img {
    width: 96px;
    height: 20px;
  }
  .header {
    padding: 20px 0;
  }
  .header-right .price-list__btn {
    font-size: 10px;
    line-height: 14px;
  }
  .header-right img {
    width: 40px;
    height: 30px;
    margin-bottom: 0;
  }
  .hero-section .hero-content__title {
    font-size: 20px;
    line-height: 28px;
  }
  .hero-section .hero-content__info {
    font-size: 11px;
    line-height: 15px;
    text-shadow: 0 0 1px #dcdcdc;
  }
  .hero-section .hero-content {
    width: 100%;
  }
  .hero-section .hero-content .hero-content__info:last-child {
    margin-top: 22px;
  }
  .characteristics-section::before {
    top: -38%;
  }
  .characteristics-section .characteristics-box {
    gap: 20px;
  }
  .characteristics-section .characteristics-box__info p {
    font-size: 10px;
    line-height: 14px;
  }
  .products-section .title-text {
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 20px;
  }
  .products-section .tab-items {
    padding-right: 50px;
    min-width: 360px;
  }
  .products-section .tab-content {
    gap: 0;
  }
  .products-section .tab-content__img {
    width: 320px;
    height: 400px;
  }
  .products-section .tab-content__img-box {
    gap: 10px;
  }
  .products-section .media-hide {
    display: none;
  }
  .services-section .title-text__sm {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .services-section {
    padding: 20px 0 69px 0;
  }
  .services-section .services__list-boxes {
    flex-direction: column;
  }
  .services__list-box {
    width: 100%;
  }
  .services-section .services__list-boxes .list {
    padding-left: 6px;
  }
  .services-section .services__list-boxes .list li::before {
    left: -11px;
  }
  .services-section .services__list-boxes .list li {
    font-size: 10px;
    line-height: 16px;
  }
  .services-section .services__list-boxes {
    margin: 0 0 25px 0;
  }
  .services-section .services-box a {
    line-height: 12px;
    font-size: 12px;
    padding: 8px 12px;
    width: fit-content;
  }
  .services-section .services-box {
    max-width: 295px;
  }
  .services-section .services-box.two {
    gap: 10px;
  }
  .services-section .services-box.two a svg {
    width: 15px;
    height: 18px;
  }
  .services-section .services-box.two a {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 16px;
  }
  .services-section .line {
    margin: 15px 0;
    border-width: 1px;
  }
  .contact-section .contact-map {
    height: auto;
  }
  .contact-section .contact-map iframe {
    border-radius: 20px;
    height: 300px;
  }
  .contact-section .title {
    margin-bottom: 20px;
  }
  .contact-section .contact__content-box p,
  .contact-section .contact__content-box a {
    font-size: 14px;
    line-height: 21px;
  }
  .contact-section .contact__content-box span {
    line-height: 16px;
  }
  .contact-section .contact-content {
    gap: 14px;
  }
  .contact-section .contact__content-box .sms-btn {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    margin-top: 27px;
    position: absolute;
    bottom: 71;
    left: 0;
  }
  .contact-section .contact-boxes {
    position: relative;
  }
  .contact-section .contact__content-box span.last {
    margin-top: 30px;
  }
  .contact-section .contact__content-box span.last.two {
    margin-top: 73px;
  }
}
